# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Docker
docker-compose.override.yml
.dockerignore

# IDE / Éditeur
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS
.DS_Store
Thumbs.db

# Backend
backend/node_modules/
backend/dist/
backend/docs/
backend/prisma/migrations/
backend/src/tests/report

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
