<div class="flex justify-content-center align-items-center min-h-screen bg-gray-100">
    <p-card [header]="title" styleClass="w-full sm:w-30rem shadow-2">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="p-fluid">
            <div class="field">
            <p-floatlabel variant="on">
            <label for="email">Email</label>
            <input id="email" type="email" pInputText formControlName="email" />
            </p-floatlabel>
            @if(submitted && email?.invalid){
                <p-message
                severity="error"
                text="Email invalide ou requis"
                ></p-message>
            }
            </div>
        
            <div class="field">
            <p-floatlabel variant="on">
                <input 
                id="password" 
                [type]="showPassword ? 'text' : 'password'" 
                pInputText 
                formControlName="password"
                />
                <label for="password">Mot de passe</label>
                <button 
                type="button" 
                pButton 
                icon="pi pi-eye{{ showPassword ? '-slash' : '' }}" 
                (click)="togglePasswordVisibility()"
                class="p-button-text p-button-plain absolute right-0 top-50"
                ></button>
            </p-floatlabel>
            
            @if(submitted && password?.invalid) {
                <p-message severity="error" text="Mot de passe requis"></p-message>
            }
            </div>
            
            @if (navigationTemplate) {
                <div class="flex justify-content-between mt-4">
                    <ng-container [ngTemplateOutlet]="navigationTemplate"></ng-container>
                </div>
            }

            <button type="submit" pButton label="Connexion" class="mt-3 w-full">
            </button>
        </form>
    </p-card>
</div>

